body {
	background-color: #000;
}
#container {
	margin: 0 auto;
	width: 80%;
	border-radius: 6px;
}
.lit-details {
	margin: 0 auto;
	width: 95%;
	padding: 1em 0 1em 0;
}
form {
	display: block;
	width: 100%;
	padding: .5em;
	background-color: #888;
}
h1 {
	text-align: center;
	font-size: 24px;
	color: #fff;
}
input {
	width: 97%;
	height: 25px;
	padding: 10px 16px;
	color: #555;
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #000;
	box-shadow: inset 0 1px 1px rgba(0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin: 10px 0 0 0;
}
input:hover {
	background-color: #4b80d6;
}
select {
	height: 40px;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 6px;
	width: 100%;
	color: #555;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: inset 0 1px 1px rgba(0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin: 10px 0 0 0;
}
.submit {
	width: 100%;
	height: 40px;
	background-color: #ccc;
	color: #000;
}
td {
	border:3px solid #888;
	text-align: center;
	color: #fff;
	font-size: .75em;
	padding: 3px 0 3px 0;
}